@using Microsoft.AspNetCore.Identity;
@model Bibliography
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
	ViewData["Title"] = "Details";
}

<section id="livro" class="padding ">
	<div class="container">
		<img src="@Model.PicUrl" class="left">

		<h2>@Html.DisplayFor(book => book.Title)</h2>
		<h4>Ficha Técnica:</h4>

		<ul>
			<li>Autor(a): <b>@Html.DisplayFor(book => book.Author)</b></li>
			<li>Páginas: <b>@Html.DisplayFor(book => book.Pages)</b></li>
			<li>Editora <b>@Model.PublishingCompany</b></a>
			<li>Ano de Lançamento: <b>@Html.DisplayFor(book => book.Year)</b></li>
			<li>ISBN: <b>@Html.DisplayFor(book => book.ISBN)</b></li>
			<li>Assunto: <b>@Html.DisplayFor(book => book.Category)</b>
		</ul>

		<h3>Sinopse</h3>
		<p>@Html.DisplayFor(book => book.Description)</p>
		
		@{
			string reservationId = ReservationIDGenerator.GenerateReservationId();
			string studentId = (await UserManager.GetUserAsync(User)).UserName;
			string title = Model.Title;

			// Criar um objeto Reservation
			Reservation reservation = new Reservation
			{
				Id = reservationId,
				StudentCode = studentId,
				BookTitle = title,
				date = DateTime.UtcNow,
			};
		}

		<form method="post" asp-controller="Bibliography" asp-action="PostReservation">
			<input type="hidden" name="Id" value="@reservation.Id" />
			<input type="hidden" name="StudentCode" value="@reservation.StudentCode" />
			<input type="hidden" name="BookTitle" value="@reservation.BookTitle" />
			<button id="reservarBtn"  type="submit" class="button">Reservar!</button>
		</form>

		<a asp-action="ReadingPage" asp-controller="Bibliography" asp-route-id="@Model.Id" class="button">Ler!</a>
	</div>
</section>


<div class="clear padding"></div>
	
